{{#*inline "page"}}
<p><a href="/admin/"> &lArr; Listings</a></p>
    {{#each weeks}}

<form action="/admin/week/{{this.id}}" method="POST">
    <label for="id">
        <span>ID:</span><br/>
        <input name="id" value="{{this.id}}">
    </label>
    <div>
    <label for="username">
        <span>Body:</span><br/>
<textarea name="body" placeholder="What happened?">
{{~this.body~}}
</textarea>
    </label>
    </div>
    <div>
    <label>
        <input type="submit" value="Update">
    </label>
    </div>
</form>

    {{/each}}
{{/inline}}
{{> template }}
