{{#*inline "page"}}
    <div>
        {{#each weeks}}
        <h3>{{this.id}}</h3>
        <p>{{markdown this.body}}</p>
        {{else}}
        <p>This page intentionally left blank.</p>
        {{/each}}
    </div>
{{/inline}}
{{> template }}
