<!DOCTYPE html>
<html lang="en">

<head>
    <title>Thymesheet</title>
</head>

<body>
    {{#if this.admin}}
    <p>You are an admin</p>
    {{/if}}
    <div>
        {{#each weeks}}
        <p>{{this.body}}</p>
        {{else}}
        <p>This page intentionally left blank.</p>
        {{/each}}
    </div>
    <div>
        <form action="/admin/login" method="POST">
        <input name="username"><br>
        <input name="password"><br>
        <input type="submit">
        </form>
    </div>
</body>

</html>
