<!DOCTYPE html>
<html lang="en">

<head>
    <title>Thymesheet</title>
</head>

<body>
    <div>
        <form action="/admin/login" method="POST">
        <input name="username"><br>
        <input name="password"><br>
        <input type="submit">
        </form>
    </div>
</body>

</html>
